<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
	<nav id="navbar">
		<ul class="nav container">
			<li class="nav_items" id="box1"><a href="#"><i class="fa-solid fa-house-chimney"></i></a></li>
			<li class="nav_items" id="box9"><a href="#">THƯƠNG HIỆU</a>

				<ul class="list_dropdown">
					<div class="box_dropdown">
						<li class="brand_items"><a href=""><img src="./asset/imgs/2.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/3.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/4.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/5.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/6.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/7.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/8.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/9.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/10.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/11.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/12.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/13.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/14.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/15.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/16.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/17.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/18.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/19.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/20.png" alt="" width="100%"></a></li>
						<li class="brand_items"><a href=""><img src="./asset/imgs/21.png" alt="" width="100%"></a></li>
					</div>
				</ul>

			</li>
			<li class="nav_items" id="box2"><a href="#">ĐỒNG HỒ NAM</a>
				<ul class="list_dropdown">
					<!-- <div class="box_scroll">
			<div class="container_scroll"> -->
					<div class="content_field scroll">
						<h4>THƯƠNG HIỆU
							<hr>
						</h4>
						<li><a href="#">LONGINES</a></li>
						<li><a href="#">TISSOT</a></li>
						<li><a href="#">MIDO</a></li>
						<li><a href="#">HAMILTON</a></li>
						<li><a href="#">CERTINA</a></li>
						<li><a href="#">FREDERIQUE CONSTANT</a></li>
						<li><a href="#">TITONI</a></li>
						<li><a href="#">SEIKO</a></li>
					</div>
					<div class="content_field scroll ">
						<h4>MỨC GIÁ
							<hr>
						</h4>
						<li><a href="#">DƯỚI 2 TRIỆU</a></li>
						<li><a href="#">TỪ 2 TRIỆU ĐẾN 5 TRIỆU</a></li>
						<li><a href="#">TỪ 5 TRIỆU ĐẾN 10 TRIỆU</a></li>
						<li><a href="#">TỪ 10 TRIỆU ĐẾN 20 TRIỆU</a></li>
						<li><a href="#">TỪ 20 TRIỆU ĐẾN 30 TRIỆU</a></li>
						<li><a href="#">TỪ 30 TRIỆU ĐẾN 50 TRIỆU</a></li>
						<li><a href="#">TỪ 50 TRIỆU ĐẾN 100 TRIỆU</a></li>
						<li><a href="#">TRÊN 100 TRIỆU</a></li>
					</div>

		 			<div class="content_field  scroll ">
						<h4>LOẠI MÁY
							<hr>
						</h4>
						<li><a href="#">AUTOMATIC (MÁY CƠ TỰ ĐỘNG)</a></li>
						<li><a href="#">QUARTZ (MÁY PIN - ĐIỆN TỬ)</a></li>
						<li><a href="#">ECO-DRIVE (NĂNG LƯỢNG ÁNH SÁNG)</a></li>
						<li><a href="#">QUARTZ CHRONOGRAPH (MÁY PIN BẤM GIỜ THỂ THAO)</a></li>
						<li><a href="#">AUTOMATIC CHRONOMETER (MÁY CƠ TỰ ĐỘNG CHUẨN COSC)</a></li>
						<li><a href="#">QUARTZ CHRONOMETER (MÁY PIN CHUẨN COSC)</a></li>
						<li><a href="#">AUTOMATIC CHRONOGRAPH (MÁY CƠ TỰ ĐỘNG BẤM GIỜ THỂ THAO)</a></li>
						<li><a href="#">QUARTZ SOLAR (NĂNG LƯỢNG ÁNH SÁNG)</a></li>
						<li><a href="#">ĐỒNG HỒ CƠ LÊN GIÂY CÓT BẰNG TAY ( MANUAL WINDING )</a></li>
					</div>
					<div class="content_field scroll">
						<h4>CHẤT LIỆU DÂY
							<hr>
						</h4>
						<li><a href="#">DÂY DA</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L MẠ VÀNG CÔNG NGHỆ PVD</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L DẠNG LƯỚI</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L DẠNG LẮC</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L/ VÀNG 18K</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L/ CERAMIC</a></li>
						<li><a href="#">THÉP KHÔNG GỈ MẠ CÔNG NGHỆ PVD</a></li>
						<li><a href="#">DÂY CAO SU</a></li>
						<li><a href="#">DÂY DÙ</a></li>
						<li><a href="#">TITANIUM</a></li>
						<li><a href="#">TITANIUM MẠ VÀNG CÔNG NGHỆ PVD</a></li>

						<li><a href="#">NHỰA</a></li>
					</div>
					<div class="content_field scroll">
						<h4>PHONG CÁCH
							<hr>
						</h4>
						<li><a href="#">SANG TRỌNG</a></li>
						<li><a href="#">THỂ THAO</a></li>
						<li><a href="#">THỂ THAO SANG TRỌNG</a></li>
						<li><a href="#">QUÂN ĐỘI</a></li>
						<li><a href="#">THỜI TRANG</a></li>
						<li><a href="#">HIỆN ĐẠI</a></li>
					</div>
					<!-- </div> -->
					<!-- </div> -->
				</ul>
			</li>
			<li class="nav_items" id="box3"><a href="#">ĐỒNG HỒ NỮ</a>
				<ul class="list_dropdown">
					<div class="content_field scroll">
						<h4>THƯƠNG HIỆU
							<hr>
						</h4>
						<li><a href="#">LONGINES</a></li>
						<li><a href="#">TISSOT</a></li>
						<li><a href="#">MIDO</a></li>
						<li><a href="#">HAMILTON</a></li>
						<li><a href="#">CERTINA</a></li>
						<li><a href="#">FREDERIQUE CONSTANT</a></li>
						<li><a href="#">TITONI</a></li>
						<li><a href="#">SEIKO</a></li>
					</div>
					<div class="content_field scroll ">
						<h4>MỨC GIÁ
							<hr>
						</h4>
						<li><a href="#">DƯỚI 2 TRIỆU</a></li>
						<li><a href="#">TỪ 2 TRIỆU ĐẾN 5 TRIỆU</a></li>
						<li><a href="#">TỪ 5 TRIỆU ĐẾN 10 TRIỆU</a></li>
						<li><a href="#">TỪ 10 TRIỆU ĐẾN 20 TRIỆU</a></li>
						<li><a href="#">TỪ 20 TRIỆU ĐẾN 30 TRIỆU</a></li>
						<li><a href="#">TỪ 30 TRIỆU ĐẾN 50 TRIỆU</a></li>
						<li><a href="#">TỪ 50 TRIỆU ĐẾN 100 TRIỆU</a></li>
						<li><a href="#">TRÊN 100 TRIỆU</a></li>
					</div>

					<div class="content_field  scroll ">
						<h4>LOẠI MÁY
							<hr>
						</h4>
						<li><a href="#">AUTOMATIC (MÁY CƠ TỰ ĐỘNG)</a></li>
						<li><a href="#">QUARTZ (MÁY PIN - ĐIỆN TỬ)</a></li>
						<li><a href="#">ECO-DRIVE (NĂNG LƯỢNG ÁNH SÁNG)</a></li>
						<li><a href="#">QUARTZ CHRONOGRAPH (MÁY PIN BẤM GIỜ THỂ THAO)</a></li>
						<li><a href="#">AUTOMATIC CHRONOMETER (MÁY CƠ TỰ ĐỘNG CHUẨN COSC)</a></li>
						<li><a href="#">QUARTZ CHRONOMETER (MÁY PIN CHUẨN COSC)</a></li>
						<li><a href="#">AUTOMATIC CHRONOGRAPH (MÁY CƠ TỰ ĐỘNG BẤM GIỜ THỂ THAO)</a></li>
						<li><a href="#">QUARTZ SOLAR (NĂNG LƯỢNG ÁNH SÁNG)</a></li>
						<li><a href="#">ĐỒNG HỒ CƠ LÊN GIÂY CÓT BẰNG TAY ( MANUAL WINDING )</a></li>
					</div>
					<div class="content_field scroll">
						<h4>CHẤT LIỆU DÂY
							<hr>
						</h4>
						<li><a href="#">DÂY DA</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L MẠ VÀNG CÔNG NGHỆ PVD</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L DẠNG LƯỚI</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L DẠNG LẮC</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L/ VÀNG 18K</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L/ CERAMIC</a></li>
						<li><a href="#">THÉP KHÔNG GỈ MẠ CÔNG NGHỆ PVD</a></li>
						<li><a href="#">DÂY CAO SU</a></li>
						<li><a href="#">DÂY DÙ</a></li>
						<li><a href="#">TITANIUM</a></li>
						<li><a href="#">TITANIUM MẠ VÀNG CÔNG NGHỆ PVD</a></li>

						<li><a href="#">NHỰA</a></li>
					</div>
					<div class="content_field scroll">
						<h4>PHONG CÁCH
							<hr>
						</h4>
						<li><a href="#">SANG TRỌNG</a></li>
						<li><a href="#">THỂ THAO</a></li>
						<li><a href="#">THỂ THAO SANG TRỌNG</a></li>
						<li><a href="#">QUÂN ĐỘI</a></li>
						<li><a href="#">THỜI TRANG</a></li>
						<li><a href="#">HIỆN ĐẠI</a></li>
					</div>

				</ul>
			</li>
			<li class="nav_items" id="box4"><a href="#">ĐỒNG HỒ ĐÔI</a>
				<ul class="list_dropdown">
					<div class="content_field scroll">
						<h4>THƯƠNG HIỆU
							<hr>
						</h4>
						<li><a href="#">LONGINES</a></li>
						<li><a href="#">TISSOT</a></li>
						<li><a href="#">MIDO</a></li>
						<li><a href="#">HAMILTON</a></li>
						<li><a href="#">CERTINA</a></li>
						<li><a href="#">FREDERIQUE CONSTANT</a></li>
						<li><a href="#">TITONI</a></li>
						<li><a href="#">SEIKO</a></li>
					</div>
					<div class="content_field scroll ">
						<h4>MỨC GIÁ
							<hr>
						</h4>
						<li><a href="#">DƯỚI 2 TRIỆU</a></li>
						<li><a href="#">TỪ 2 TRIỆU ĐẾN 5 TRIỆU</a></li>
						<li><a href="#">TỪ 5 TRIỆU ĐẾN 10 TRIỆU</a></li>
						<li><a href="#">TỪ 10 TRIỆU ĐẾN 20 TRIỆU</a></li>
						<li><a href="#">TỪ 20 TRIỆU ĐẾN 30 TRIỆU</a></li>
						<li><a href="#">TỪ 30 TRIỆU ĐẾN 50 TRIỆU</a></li>
						<li><a href="#">TỪ 50 TRIỆU ĐẾN 100 TRIỆU</a></li>
						<li><a href="#">TRÊN 100 TRIỆU</a></li>
					</div>

					<div class="content_field  scroll ">
						<h4>LOẠI MÁY
							<hr>
						</h4>
						<li><a href="#">AUTOMATIC (MÁY CƠ TỰ ĐỘNG)</a></li>
						<li><a href="#">QUARTZ (MÁY PIN - ĐIỆN TỬ)</a></li>
						<li><a href="#">ECO-DRIVE (NĂNG LƯỢNG ÁNH SÁNG)</a></li>
						<li><a href="#">QUARTZ CHRONOGRAPH (MÁY PIN BẤM GIỜ THỂ THAO)</a></li>
						<li><a href="#">AUTOMATIC CHRONOMETER (MÁY CƠ TỰ ĐỘNG CHUẨN COSC)</a></li>
						<li><a href="#">QUARTZ CHRONOMETER (MÁY PIN CHUẨN COSC)</a></li>
						<li><a href="#">AUTOMATIC CHRONOGRAPH (MÁY CƠ TỰ ĐỘNG BẤM GIỜ THỂ THAO)</a></li>
						<li><a href="#">QUARTZ SOLAR (NĂNG LƯỢNG ÁNH SÁNG)</a></li>
						<li><a href="#">ĐỒNG HỒ CƠ LÊN GIÂY CÓT BẰNG TAY ( MANUAL WINDING )</a></li>
					</div>
					<div class="content_field scroll">
						<h4>CHẤT LIỆU DÂY
							<hr>
						</h4>
						<li><a href="#">DÂY DA</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L MẠ VÀNG CÔNG NGHỆ PVD</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L DẠNG LƯỚI</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L DẠNG LẮC</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L/ VÀNG 18K</a></li>
						<li><a href="#">THÉP KHÔNG GỈ 316L/ CERAMIC</a></li>
						<li><a href="#">THÉP KHÔNG GỈ MẠ CÔNG NGHỆ PVD</a></li>
						<li><a href="#">DÂY CAO SU</a></li>
						<li><a href="#">DÂY DÙ</a></li>
						<li><a href="#">TITANIUM</a></li>
						<li><a href="#">TITANIUM MẠ VÀNG CÔNG NGHỆ PVD</a></li>

						<li><a href="#">NHỰA</a></li>
					</div>
					<div class="content_field scroll">
						<h4>PHONG CÁCH<hr></h4>
						<li><a href="#">SANG TRỌNG</a></li>
						<li><a href="#">THỂ THAO</a></li>
						<li><a href="#">THỂ THAO SANG TRỌNG</a></li>
						<li><a href="#">QUÂN ĐỘI</a></li>
						<li><a href="#">THỜI TRANG</a></li>
						<li><a href="#">HIỆN ĐẠI</a></li>
					</div>

				</ul>
			</li>
			<li class="nav_items" id="box5"><a href="#">ĐỒNG HỒ TREO TƯỜNG</a>
				<ul class="list_dropdown">
					<div class="content_field">
						<h4>THƯƠNG HIỆU
							<hr>
						</h4>
						<li><a href="#">SEIKO</a></li>
						<li><a href="#">RHYTHM</a></li>
					</div>
					<div class="content_field">
						<h4>VỎ MÁY
							<hr>
						</h4>
						<li><a href="#">THỦY TINH</a></li>
						<li><a href="#">NHỰA</a></li>
						<li><a href="#">GỖ</a></li>
					</div>
				</ul>
			</li>
			<li class="nav_items" id="box6"><a href="#">DÂY ĐỒNG HỒ</a>
				<!-- <ul class="list_dropdown">
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>

				</ul> -->
			</li>
			</li>
			<li class="nav_items" id="box7"><a href="#">SẢN PHẨM KHÁC</a>
				<ul class="listItem" >
					<div class="listBox" >
						<li id="li-list7"><a href="#" id="text">ĐỒNG HỒ THỤY SỸ</a></li>
						<li id="li-list7"><a href="#" id="text">ĐỒNG HỒ NHẬT BẢN</a></li>
						<li id="li-list7"><a href="#" id="text">TRANG SỨC DW</a></li>
						<li id="li-list7"><a href="#" id="text">DÂY ĐEO ĐỒNG HỒ</a></li>
						<li id="li-list7"><a href="#" id="text">ĐỒNG HỒ ĐỂ BÀN</a></li>
						<li id="li-list7"><a href="#" id="text">ĐỒNG HỒ BÁO THỨC</a></li>
						<li id="li-list7"><a href="#" id="text">TRANG SỨC CALVIN KLEIN</a></li>
					</div>
				</ul>
			</li>
			</li>
			<li class="nav_items" id="box8"><a href="#">SỬA ĐỒNG HỒ</a>
				<!-- <ul class="list_dropdown">
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>

				</ul> -->
			</li>

		</ul>
	</nav>
	<img src="../../../CompleteResponsiveFood/img/4.png" alt="">
</body>

</html>