#navbar {
    text-align: center;
    background: #bebebe;
    padding: 0;
    margin: 0;
    height: 44px;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    border: 1px solid var(--border-color);

}

#navbar .container {
    width: 1170px;
    height: auto;
}

.nav_items:hover {
    border-bottom: 2px solid white;
    height: 44px;
}

.nav {
    list-style: none;
    height: 44px;
    position: relative;
    display: grid;
    grid-template-columns: 70px repeat(4, 1fr) 180px repeat(3, 1fr);
    margin: 0;

}

#navbar ul li {
    display: inline-block;
}


#navbar ul li a {
    color: white;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}

/*luc dau #navbar ul li:hover*/
#navbar ul .nav_items:hover {
    border-bottom: 2px solid white;
}

#navbar ul li:hover>a {
    color: #FFFFFF;
}
/*lúc đầu #navbar ul li:hover > ul*/
#navbar .nav .nav_items:hover> .list_dropdown {
    display: block;
}

.list_dropdown {
    background-color: var(--main-color);
    padding: 0;
    text-align: center;
    display: none;
    width: 100%;
    height: 213px;
    position: absolute;
    top: 60px;
    left: 0px;
    opacity: 0.88;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    padding: 1.4rem 0 0 0;
}

.main123 {
    width: 100vw;
    height: 2000px;
    background-color: rgb(92, 55, 61);
}

.box_dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1136px;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(10, 100px);
    /* grid-template-rows: 66px 66px; */
    grid-column-gap: 10px;
    grid-row-gap: 5px;

}

/* .box_scroll {
    padding: 10px;
    width: 211px;
    height: 260px;
    overflow: auto;
    white-space: nowrap;


} */

.content_field {
    width: 211px;
    height: 18px;
}

/* .container_scroll {
    width: 203px;
    height: 622px;
} */
:root {
    --main-color: #796752;
    --sub-color: #D50D15;
    --extra-color: #333;
    --black-color: #000;
    --border-color: #ada090;
    --button-color: #b1a18f;
    --header_nav--height: 44px;
    --width_container--width: 1170px;
}

#navbar .nav .nav_items:hover>.list_dropdown {
    display: flex;
    margin-top: -13px;
}

#navbar .nav .nav_items .list_dropdown .scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 20%;
    display: grid;
}

#navbar .nav .nav_items .list_dropdown.litte .scroll li a{
    font-size: 14px;
}
#navbar .nav .nav_items .list_dropdown .content_field {
    display: grid;
}

#navbar .nav .nav_items .list_dropdown .content_field h4 {
    color: white;
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
}

#navbar .nav .nav_items .list_dropdown .content_field h4 hr {
    width: 85%;
    margin-right: 15%;
}

#navbar .nav .nav_items .list_dropdown .content_field li {
    height: auto;
    width: 100%;
    padding: 3px 15px;
    text-align: left;
    height: 2rem;
    opacity: 1;
}

#navbar .nav .nav_items .list_dropdown .content_field li a {
    font-size: 13px;
    line-height: 1;
    height:2rem;
    width:210px;
    border: none;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#navbar .nav .nav_items .list_dropdown .content_field li:hover a {
    color: var(--sub-color);
}

.nav_items .list_dropdown div::-webkit-scrollbar {
    width: .47rem;
    height:auto;
    border-radius: .2rem;
    background-color: #f5f5f5;
}

.nav_items .list_dropdown div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b1a18f;
    border: 1.3px solid #eee;
}
/* new code list item box 7*/
.nav_items:nth-child(8){
  position: relative;
}
.nav_items:nth-child(8) .listItem{
     background-color:var(--main-color);
     opacity: 0.86;
   min-width: 200px;
   position: absolute;
   margin: 0;
   padding: 0 1rem;
   top: 3rem;
   text-align: start;
   display: none;
}
.nav_items:nth-child(8):hover .listItem{
    display: block;
}
.nav_items:nth-child(8) .listItem #text{
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 2.5;
}
.nav_items:nth-child(8) .listItem #text:hover{
    color: var(--sub-color);
}


